/*=============================================================================================================================
 									max-width: 1409px Start
 ==============================================================================================================================*/

@media only screen and (max-width: 1409px) {}

/*=============================================================================================================================
 									max-width: 1409px End
 ==============================================================================================================================*/

/*=============================================================================================================================
 									max-width: 1199px   Start
 ==============================================================================================================================*/

@media only screen and (max-width: 1199px) {}

/*=============================================================================================================================
									max-width: 1199px   End
==============================================================================================================================*/

/*=============================================================================================================================
									max-width: 991px   Start
==============================================================================================================================*/

/*=============================================================================================================================
									max-width: 991px   End
==============================================================================================================================*/

/*=============================================================================================================================
 									Max-Width: 767px   Start
 ==============================================================================================================================*/

@media only screen and (max-width: 767px) {}

/*=============================================================================================================================
 									Max-Width: 767px   End
 ==============================================================================================================================*/

/*=============================================================================================================================
 									Max-Width: 600px   Start
 ==============================================================================================================================*/

@media only screen and (max-width: 600px) {}

/*=============================================================================================================================
 									Max-Width: 600px   End
 ==============================================================================================================================*/

/*=============================================================================================================================
 									Max-Width: 575px   Start
 ==============================================================================================================================*/

@media only screen and (max-width: 575px) {

    /* .navbar {
    width: 350px;
  } */
    .f-36 {
        font-size: 32px;
    }
}

/*=============================================================================================================================
 									Max-Width: 575px   End
 ==============================================================================================================================*/

/*=============================================================================================================================
 									Max-Width: 425px   Start
 ==============================================================================================================================*/

@media only screen and (max-width: 425px) {

    /* .navbar {
    width: 300px;
  } */
    .f-36 {
        font-size: 30px;
    }

    .PlayBtn {
        padding: 10px 20px;
        white-space: nowrap;
    }

    .navIcon {
        margin-left: 0px;
        padding: 10px 10px !important;
    }
}

/*=============================================================================================================================
 									Max-Width: 425px   End
 ==============================================================================================================================*/

/*=============================================================================================================================
 Max-Width: 375px   Start
 ==============================================================================================================================*/

@media only screen and (max-width: 375px) {

    /* .navbar {
    width: 275px;
  } */
    .f-36 {
        font-size: 26px;
    }

    .cusOver {
        overflow-x: auto;
    }
}

/*=============================================================================================================================
Max-Width:   375px   End
==============================================================================================================================*/

/*=============================================================================================================================
Max-Width: 320px   Start
==============================================================================================================================*/

@media only screen and (max-width: 320px) {}

/*=============================================================================================================================
Max-Width: 320px   End
==============================================================================================================================*/

@media only screen and (max-width: 348px) {}

@media only screen and (max-width: 768px) {
    .logo {
        max-width: 125px;
    }

    .header {
        padding: 10px 2px;
    }
}

@media only screen and (max-width: 455px) {
    .gameArea {
        height: 300px;
        overflow: hidden;
        background-color: #f3434e35;
        border: 2px dashed rgba(255, 255, 255, 0.1);
    }
}